

		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>RECRUITMENT</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Services</a></li>
					<li class="breadcrumb-item active" aria-current="page">Recruitment</li>
				</ol>
			</div>

		</section>	

		
		<section id="content" style="margin-bottom: 0px;">

			<div  class="content-wrap pt-0">

				<div class="container clearfix">
					<div class="col_three_fifth topmargin-sm bottommargin padd-t-60">
						<img data-animate="fadeInLeftBig" src="assets\images\services\8.jpg" alt="Imac" class="fadeInLeftBig animated">
					</div>

					<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">

						<div class="heading-block topmargin">
							<!-- <h2>CLOUDFEN  -  Customers reliable partner</h2> -->
						</div>

						<p>Finding a right talented resources is not always easy.Our experienced recruiting staff will make sure to find qualified candidates for you. We follow unique process in filtering the candidate  to find the best talents not only good in technical but also in  understand the needs to reach.</p>
					</div>

				<div class="line"></div>

				</div>
			</div>

		</section>