

		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>MAINTANANCE AND SUPPORT</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Services</a></li>
					<li class="breadcrumb-item active" aria-current="page">Maintanace and Support</li>
				</ol>
			</div>

		</section>	


		<section id="content" style="margin-bottom: 0px;">

			<div  class="content-wrap pt-0">

				<div class="container clearfix">
					<div class="col_three_fifth topmargin-sm bottommargin padd-t-60">
						<img data-animate="fadeInLeftBig" src="assets\images\services\6.jpg" alt="Imac" class="fadeInLeftBig animated">
					</div>

					<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">

						<div class="heading-block topmargin">
							<!-- <h2>CLOUDFEN  -  Customers reliable partner</h2> -->
						</div>

						<p>CloudFen make sure to help our customers to manage their software projects better. We understand the importance of the healthy infractrure to run the smooth business.</p>
						<p>We are sucessful and have ability to produce a solid performance to continually meet and exceed overall expectations with constant monitoring and shaping of job, department, and organizational goals and objectives to ensure our success.</p>
					</div>

				<div class="line"></div>

				</div>
			</div>

		</section>