

		<section id="page-title" class="page-title-mini">

			<div class="container clearfix">
				<h1>OUTSOURCING</h1>
				<span>Everything you need to know about our Company</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Services</a></li>
					<li class="breadcrumb-item active" aria-current="page">Outsourcing</li>
				</ol>
			</div>

		</section>	

		<section id="content" style="margin-bottom: 0px;">

			<div  class="content-wrap pt-0">

				<div class="container clearfix">
					<div class="col_three_fifth topmargin-sm bottommargin padd-t-60">
						<img data-animate="fadeInLeftBig" src="assets\images\services\7.jpg" alt="Imac" class="fadeInLeftBig animated">
					</div>

					<div class="col_two_fifth topmargin-sm bottommargin-lg col_last">

						<div class="heading-block topmargin">
							<!-- <h2>CLOUDFEN  -  Customers reliable partner</h2> -->
						</div>

						<p>Outsourcing can also help to make your business more flexible and agile, able to adapt to changing market conditions and challenges, while providing cost savings and service level improvements. At CloudFen Well positioned, with a world-class staff, to rapidly respond to the evolving IT landscape and offer the right solution at the right time.</p>
					</div>

				<div class="line"></div>

				</div>
			</div>

		</section>