
		<section style="padding-bottom: 10px;">
			<div class="video-wrap">
				<ngb-carousel  [interval]="9000" >
					<ng-template ngbSlide>
					   <img  style="width: 100%; height: 100%;" src="assets\images\swipper\4.jpg">
						   <div class="centered">
								<!-- <h1 style="color: black; font-size:5em;">Welcome to CloudFen</h1> -->
								<h1 style="font-size:6vw; color: black;">Welcome to CloudFen</h1>
								<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200" style="font-size:2vw; color: black;">Your Vision is Our Mission. We are Reliable.We are strong in support services. We lead the growing technology.</p>
							</div>								
					</ng-template>
					<ng-template ngbSlide>
						<video style=" height: 100%; width: 100%;"  controls loop autoplay muted>
							<source src="assets\images\videos\explore1.mp4" type="video/mp4">  							                     
						  </video>
					</ng-template>
					<ng-template ngbSlide>										
						<img  style="width: 100%; height: 100%;" src="assets\images\swipper\14.jpg">
						<div class="centered">
							<h1 style="font-size:6vw; color: #eee;">Great Performance</h1>
							<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200" style="font-size:2vw; color: #eee;">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
						</div>  
					</ng-template>
				</ngb-carousel>
				
			</div>
		</section>

		<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">
                 <section id="section-services" class="page-section topmargin-lg">

					<div class="heading-block center bottommargin-lg">
							<h2>We are <span>CloudFen</span></h2>
							<span>One of the most Versatile Software Solutions Company.</span>
					</div>

					<div class="container clearfix">
						<div class="row">
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\1.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-pie-chart2"></i>
										</span>
                                        <h3>WHY CHOOSE US.<br>Because we are Reliable.</h3>
                                        <h4>CloudFen understands clearly with the customer business requirements. We have highly skilled engineers with excellent technical knowledge and experience in using latest software standards, tools, platforms, frameworks and technologies.</h4>
                                    </div>
							   </div>
							</div>
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\0.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-tax"></i>
										</span>
									 <h3>OUR MISSION.<br>To Redefine your Brand.</h3>
									 <h4>CloudFen aims to establish an interactive platforms to work towards achieving customer's goals, with healthy infrastructure and advanced software product developement we strive to offer updated application servers.</h4>
									 </div>
							   </div>
							</div>
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\3.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-savings"></i>
										</span>
                                        <h3>WHAT WE DO.<br>Make our Customers Happy.</h3>
									 <h4>At Cloudfen we make real things happen for our customers through high quality services. We intend to give the best services on product development, It Staffing solutions, Outsourcing, Upgraded infrastructure services to enrich our customers experiences with Cloudfen.</h4>
									  </div>
							   </div>
							</div>
						 </div>
						 <div class="gap-60"></div>
					</div>

					<div class="divider divider-short divider-center topmargin-lg"><i class="icon-star3"></i></div>

				</section>


			

				<!-- Services Begin
		============================================= -->

				<section id="section-services" class="page-section topmargin-lg">

					<div class="heading-block center bottommargin-lg">
						<h2>Services</h2>
						<span>What we do.</span>
					</div>

					<div class="container clearfix">
						<div class="row">
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service1.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-pie-chart2"></i>
										</span>
									 <h3 class="service-title text-uppercase">IT Staffing</h3>
									 <h4>Our consulting practice focuses on advising organizations on how best to use information technology to meet their business objectives.</h4>
									 <p><a class="link-more" href="it.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service1 end-->
							</div>
							<!-- Col 1 end-->
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service2.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-tax"></i>
										</span>
									 <h3 class="service-title text-uppercase">Product Development</h3>
									 <h4>We offer Application Development Services that can offer the full scope of services—development, implementation and management.</h4>
									 <p><a class="link-more" href="product.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service2 end-->
							</div>
							<!-- Col 2 end-->
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service3.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-savings"></i>
										</span>
									 <h3 class="service-title text-uppercase">Maintenance and Support</h3>
									 <h4>Our managed services can coordinate all your efforts and sourcing product, testing your systems and maintaining them simultaneously. </h4>
									 <p><a class="link-more" href="suppor.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service3 end-->
							</div>
							<!-- Col 3 end-->
						 </div>
						 <!-- Content 1 row end-->
						 <div class="gap-60"></div>
						 <div class="row">
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service4.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-mutual-fund"></i>
										</span>
									 <h3 class="service-title text-uppercase">Recruitment</h3>
									 <h4>We identify, screen and present the best-qualified candidate for a well-defined client requirement, in a timely and cost effective manner.</h4>
									 <p><a class="link-more" href="recr.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service4 end-->
							</div>
							<!-- Col 4 end-->
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service5.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-loan"></i>
										</span>
									 <h3 class="service-title text-uppercase">Outsourcing</h3>
									 <h4> we are uniquely positioned to provide our experience and expertise to our clients on a recruitment process outsourcing (RPO) model.</h4>
									 <p><a class="link-more" href="outsourcing.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service5 end-->
							</div>
							<!-- Col 5 end-->
							<div class="col-lg-4 col-md-12">
							   <div class="ts-service-box">
								  <div class="ts-service-image-wrapper">
									 <img class="img-fluid" src="assets\images\services\service6.jpg" alt="">
								  </div>
								  <div class="ts-service-content">
										<span class="ts-service-icon">
										   <i class="icon icon-consult"></i>
										</span>
									 <h3 class="service-title text-uppercase">Infrastructure</h3>
									 <h4>Are you assessing or upgrading your network systems or moving legacy systems to Cloud technology?</h4>
									 <p><a class="link-more" href="infra.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
								  </div>
							   </div>
							   <!-- Service6 end-->
							</div>
							<!-- Col 6 end-->
						 </div>
						 <!-- Content Row 2 end-->

					</div>

					<div class="divider divider-short divider-center topmargin-lg"><i class="icon-star3"></i></div>

				</section>

			</div>

		</section>

	
		
		